mkdocs
mkdocs-get-deps
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-material
mkdocs-material-extensions
mkdocs-theme-bootstrap4
pymdown-extensions
mkdocs-git-authors-plugin
